.pc-miniapp .miniapp-content-1 {
  background-image: url("../image/home-miniapp.jpg");
}

.pc-miniapp .miniapp-content-1 img {
  display: block;
  width: 22%;
  z-index: 3;
  position: absolute;
  left: 20%;
  bottom: 0%;
}

.pc-miniapp .miniapp-content-1-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  position: relative;
  margin: 0 -30rem 0 0;
}

.pc-miniapp .miniapp-content-1-title h1, h3{
  color: white;
}

.pc-miniapp .miniapp-content-1-title h3 {
  margin-left: 20%;
}

.pc-miniapp .miniapp-content-1-title img {
  border-radius: 1rem;
  position: absolute;
  bottom: -30%;
  height: 6rem;
  width: auto;
}

.pc-miniapp .miniapp-content-2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pc-miniapp .miniapp-content-2 img {
  display: block;
  width: 50%;
}